.profile__edit-button {
  margin: 0;
  margin-bottom: 7px;
  border: 1px solid #ffffff;
  background: none;
  background-image: url(../../../images/Profile__button_edit.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  width: 24px;
  height: 24px;
  transition: opacity 200ms ease-in-out;
  align-self: flex-end;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 990px) {
  .profile__edit-button {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 630px) {
  .profile__edit-button {
    margin-bottom: 6px;
    background-size: 7.5px;
    width: 18px;
    height: 18px;
  }
}
